Repository lore-hub-app/renpy-converter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add lib test to pre-commit scripts
  .husky/pre-commit
Due: none

Fix eslint
  .eslintignore
  .eslintrc
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

delete eslintsrc from root folder
  .eslintrc.js
Due: eslint --fix, prettier --write

update JSON example 5-branching-dialog.ts to correct one
  lib/tests/jsonExamples/5-branching-dialog.ts
Due: eslint --fix, prettier --write

Move configs to lib directory
  lib/.eslintignore
  lib/.eslintrc
  lib/.husky/pre-commit
  lib/.lintstagedrc
  lib/.prettierignore
  lib/.prettierrc
  lib/package-lock.json
  lib/package.json
Due: prettier --write

Update pre-commit script
  lib/.husky/pre-commit
Due: none

Apply code-style, update configs
  lib/.eslintrc
  lib/package-lock.json
  lib/package.json
  lib/src/internal/convertToRenpyScript.ts
  lib/src/internal/dto/LoreHubJson.ts
  lib/src/internal/entities/Character.ts
  lib/src/internal/entities/Content.ts
  lib/src/internal/entities/DialogNode.ts
  lib/src/internal/getCharacters.ts
  lib/src/internal/getLoreHubJson.ts
  lib/src/internal/getNodes.ts
  lib/src/internal/transliterate.ts
  lib/tests/Character.test.ts
  lib/tests/DialogNode.test.ts
  lib/tests/convertToRenpyScript.test.ts
  lib/tests/getNodes.test.ts
  lib/tsconfig.json
Due: eslint --fix, prettier --write

Update getNodes, tests
  lib/src/internal/getNodes.ts
  lib/tests/getNodes.test.ts
Due: eslint --fix, prettier --write

add wrong order json example
  lib/tests/getNodes.test.ts
  lib/tests/jsonExamples/1a-plain-text-dialog-single-line-wrong-order.ts
Due: eslint --fix, prettier --write

remove not needed files from root
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  lib/.vscode/setting.json
  package-lock.json
  package.json
Due: prettier --write

lint
  lib/src/internal/entities/Character.ts
  lib/src/internal/getNodes.ts
Due: eslint --fix, prettier --write

rename DialogNode.buildFromUnknown to buildNode
  lib/src/internal/entities/DialogNode.ts
  lib/src/internal/getNodes.ts
Due: eslint --fix, prettier --write

add lint check command
  lib/package.json
  lib/tests/getNodes.test.ts
Due: eslint --fix, prettier --write

ci add lint check
  .github/workflows/main.yml
Due: none

Throw an error when starting node is missing
  lib/src/internal/getNodes.ts
  lib/tests/getNodes.test.ts
Due: eslint --fix, prettier --write

Move @babel/preset-typescript from dependencies to devDependencies.
  lib/package.json
Due: prettier --write

Update eslint rules
  lib/.eslintrc
Due: none

Remove husky because we have CI eslint check
  .husky/pre-commit
  lib/package.json
Due: prettier --write

Remove more husky
  lib/.husky/pre-commit
  lib/package.json
Due: prettier --write

Added test with orphan node.
  lib/tests/getNodes.test.ts
  lib/tests/jsonExamples/1-dialog-with-orphan-nodes.ts
Due: eslint --fix, prettier --write

Build nodes based on next node.
  lib/src/internal/getNodes.ts
  lib/tests/getNodes.test.ts
Due: eslint --fix, prettier --write

Fix eslint no-loop-func
  lib/src/internal/getNodes.ts
Due: eslint --fix, prettier --write

Build lib using tsc
  .gitignore
  lib/package.json
  lib/tsconfig.json
Due: prettier --write

change index export for lib
  lib/src/index.ts
Due: eslint --fix, prettier --write

Use explicit install for the example
  example/package-lock.json
  example/package.json
  example/src/App.vue
  example/src/json-examples/1-plain-text-dialog-single-line.ts
  example/src/json-examples/2-plain-text-multiple-line.ts
  example/src/json-examples/3-with-refs.ts
  example/src/json-examples/4-with-refs-explicit-names.ts
  example/src/json-examples/5-branching-dialog.ts
  example/tsconfig.json
Due: eslint --fix, prettier --write

Update ci
  .github/workflows/cd-example.yaml
  .github/workflows/main.yml
Due: none

CD do install before build
  .github/workflows/cd-example.yaml
Due: none

CI fix npm ci command
  .github/workflows/cd-example.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.{css,js,json,md,scss,ts,vue}
